<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}{% if title %}{{ title }}{% else %}Aerial Photography Database{% endif %}{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body {% block extrabody %}{% endblock %}>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>