{% extends "base.html" %}
{% block content %}
    <h1>Exploring {{ mdl }} - {{ field }}</h1>
    <p><b>Total Distinct Values:</b> {{ distinct_vals }}</p>
    <table border="1">
        <tr>
            <th>Value</th>
            <th>Count</th>
        </tr>
        {% for v in vals %}
            <tr>
                <td>
                    {{ v.value }}
                </td>
                <td>
                    {{ v.count }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <a href="{% url "explore_model" model=mdl %}">Back to Explore {{ mdl }}</a>
    </p>
    <p>
        <a href="{% url "explore_index" %}">Back to Explore Index</a>
    </p>
{% endblock %}