{% extends "base.html" %}
{% block content %}
    <h1>Explorable Tables</h1>
    <ul>
        {% for mdl in models %}
            <li>
            <a href="{% url "explore_model" model=mdl %}">
                {{ mdl }}
            </a>
            </li>
        {%  endfor %}
    </ul>
{% endblock %}