{% extends "base.html" %}
{% block content %}
    <h1>Exploring {{ mdl }}</h1>
    <p><b>Total Row Count:</b> {{  total_count }}</p>
    <table border="1">
        <tr>
            <th>Field</th>
            <th>Distinct Values</th>
        </tr>
        {% for fld in fields %}
            <tr>
                <td>
                    <a href="{% url "explore_field" model=mdl field=fld.fld %}">
                        {{ fld.fld }}
                    </a>
                </td>
                <td>
                    {{  fld.distinct_vals }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <a href="{% url "explore_index" %}">Back to Explore Index</a>
    </p>
{% endblock %}